body{
    /* where to place your background image */
    background-image: url("");
}
h1{
    color: rgb(95, 91, 143);
}

.container{
    width:450px;
    height: 600px;
    margin: 0 auto;
    background-color:red;
    /* where to place your card image */
    background-image: url("");
    border-radius: 10px;
    margin-top: 100px;
}